<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Elevator.Properties.Settings.contractorConnectionString"
            connectionString="Data Source=DESKTOP-3E20OVV\SQLEXPRESS;AttachDbFilename=&quot;D:\Настя\Диплом\ВКРБ Михеева\База данных\AccountingOfGrain.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Elevator.Properties.Settings.AccountOfGrainConnectionString"
            connectionString="Data Source=DESKTOP-3E20OVV\SQLEXPRESS;AttachDbFilename=&quot;D:\Настя\Диплом\ВКРБ Михеева\База данных\AccountOfGrain.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Elevator.Properties.Settings.AccountOfGrainElevator"
            connectionString="Data Source=DESKTOP-3E20OVV\SQLEXPRESS;Initial Catalog=&quot;D:\НАСТЯ\ДИПЛОМ\ВКРБ МИХЕЕВА\БАЗА ДАННЫХ\ACCOUNTOFGRAIN.MDF&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Elevator.Properties.Settings.AccountOfGrainConnection"
            connectionString="Data Source=DESKTOP-3E20OVV\SQLEXPRESS;AttachDbFilename=|DataDirectory|\AccountOfGrain.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>